hypr/.config/hypr/colors.conf
rofi/.config/rofi/colors.rasi
waybar/.config/waybar/colors.css
wlogout/.config/wlogout/colors.css
alacritty/.config/alacritty/colors.toml
kitty/.config/kitty/colors.toml

