@import url("/home/harsh/.config/waybar/colors.css");

* {
    font-family: "Rubik", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-size: 15.5px;
    font-weight: 500;
}

window#waybar {
    background-color: @background;
}

#custom-updates,
#custom-swaync,
#custom-os_button,
#power-profiles-daemon,
#tray,
#cpu,
#clock,
#pulseaudio,
#network,
#memory,
#battery {
    margin: 5px 0px 5px 0px;
    padding: 1px 5px 1px 5px;
    color: @on_surface_variant; 
    background-color: transparent;
}

#workspaces button {
    background-color: @on_secondary_fixed;
    border-radius: 500px;
    padding: 0px 0px 0px 0px;
    margin: 4px 30px 4px 30px;
    min-height: 45px;
    animation: gradient_f 10s ease-in infinite;
    transition: all 0.25s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.active {
    color: @shadow ;
    background-color: @primary;
    border-radius: 500px;
    padding: 0px 0px 0px 0px;
    margin: 4px 30px 4px 30px;
}

#workspaces button:hover {
    background: @on_secondary;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.empty {
    color: @outline;
}

#modules.right {
    margin-top: 15px;
}

@keyframes bg-blink {
    from { background-color: transparent; }
    to   { background-color: @error; }
}

#workspaces button.urgent {
    animation: bg-blink 0.6s steps(1) infinite alternate;
    color: @on_error;
}


